<div class="modal fade" id="makePaymentModal" tabindex="-1" role="dialog" aria-labelledby="makePaymentModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="makePaymentModalLabel">Make Payment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
   
      <div class="container">
        <a href="qr-scan"><button class="btn btn-block btn-primary mt-5">Scan QR Code</button></a>
        <h5 class="pt-5 text-center"> Or</h5>

      </div>
      <div class="form-story">
        <%= form_for Contact.new, as: :contact, url: contacts_path, method: :post do |f| %>
        <div class="modal-body">
      
          <div class="mb-6">
            <div class="label">Enter Unipay ID</div>
            <%= f.text_field :payid, class: "form-control", required: true %>
          </div>

         <br>

         
    
      <div class="modal-footer">
        <div class="mb-6">
          <button class="btn-pay btn btn-lg btn-primary" type="submit">Proceed</button>
        </div>
      </div>
      <% end %>
          </div>
      </div>
    </div>
  </div>
</div>




<div class="modal fade" id="qrModal" tabindex="-1" role="dialog" aria-labelledby="qrModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="qrModalLabel">Make Payment to <%= current_user.payid_full %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
   
      <div class="container my-5  mx-5 qr-display">
        <%= svg = @qr_code.as_svg( offset: 0, color: "000", shape_rendering: 'crispEdges', module_size: 11, standalone: true ).html_safe %>
    </div>
  </div>
</div>

