
  
  <div class="modal fade show" id="makeCheckoutModal" tabindex="-1" role="dialog" aria-labelledby="makeCheckoutModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="makeCheckoutModalLabel">Make Payment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
   
      
      <div class="container">
        <div style="width: 500px" id="rapyd-checkout"></div>
      </div>
    </div>
  </div>
</div>



   <script>
        window.onload = function () {
            let checkout = new RapydCheckoutToolkit({
                pay_button_text: "Click to pay",
                pay_button_color: "blue",
                id: "checkout_c0f4b91a07cf35a4798b6e396ccd2490"
            });
            checkout.displayCheckout();
        }
        window.addEventListener('onCheckoutPaymentSuccess', function (event) {
            console.log(event.detail)
        });
        window.addEventListener('onCheckoutFailure', function (event) {
            console.log(event.detail.error)
        });

        // window.onload = function () {
        //   document.getElementById("makeCheckoutModal").modal('show');
        // }
    </script>